NETWORK=Preprod
PAYMENT_SERVICE_URL=
PAYMENT_API_KEY=
AGENT_IDENTIFIER=
SELLER_VKEY=
OPENAI_API_KEY=
HOTELS_COOKIE=
ZAI_API_KEY=
ZAI_BASE_URL=
ZAI_MODEL=
EVE_PORT=21951
EVE_URL=http://127.0.0.1:21951
COWORKER_ID=
EVE_REMOTE_URL=https://expert-travel-advisor-eve.vercel.app
SOKOSUMI_ORGANIZATION_SLUG=
SOKOSUMI_ORGANIZATION_ID=
EVE_AUTH_USERNAME=
EVE_AUTH_PASSWORD=
BITREFILL_API_KEY=
NEAR_INTENTS_API=
